{% assign me = site.data.about %}
<section class="about fc-wrapper">
    <div class="category-wrapper">
        <div class="category"><img class="logo-big" src="/assets/images/about.svg" alt="">자기소개</div>
    </div>
    <div class="about-contents">
        {{ me.contents }}
    </div>
    <br/><br/>

    <div class="calendar" style="width: 100%;">
        Loading the data just for you.
    </div>

    <script>
        new GitHubCalendar(".calendar", "pci2676", {responsive: true, cache: 3600, global_stats: false});
    </script>
</section>