{% assign ed = site.data.experience %}
<section class="experience fc-wrapper">

    <div class="category-wrapper">
        <div class="category">
            <img class="logo-big" src="/assets/images/career.svg" alt="">직무 경력
        </div>
    </div>
    <div class="fc-wrapper career-wrapper">
        {% for career in ed.careers %}
        <div class="experience-item career">
            <div class="fr-wrapper">
                <div class="company">{{ career.company }}</div>
                <div class="time">({{ career.time }})</div>
            </div>
            <div class="role">직책 : {{ career.role }}</div>
            <div class="skills">기술 스택 : {{ career.skills }}</div>
            <div class="details">{{ career.details | markdownify }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="line"></div>

    <div class="category-wrapper">
        <div class="category"><img class="logo-big" src="/assets/images/study.svg" alt="">학습</div>
    </div>
    <div class="fc-wrapper study-wrapper">
        {% for study in ed.studies %}
        <div class="experience-item study">
            <div class="fr-wrapper">
                <div class="subject flex">{{ study.subject }}</div>
                <div class="host flex">{{study.host}}</div>
                <div class="time flex">({{ study.time }})</div>
            </div>
            <div class="details flex">{{ study.details | markdownify }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="line"></div>

    <div class="category-wrapper">
        <div class="category"><img class="logo-big" src="/assets/images/project.svg" alt="">프로젝트</div>
    </div>
    <div class="fc-wrapper project-wrapper">
        {% for project in ed.projects %}
        <div class="experience-item project">
            <div class="fr-wrapper">
                <div class="subject flex">{{ project.subject }}</div>
                <div class="time flex">({{ project.time }})</div>
                <div class="reward flex">{{ project.reward }}</div>
            </div>
            <div class="title">{{ project.title }}</div>
            <div class="role">역할 : {{ project.role }}</div>
            <div class="skills">기술 스택 : {{ project.skills }}</div>
            <div class="details">{{ project.details | markdownify }}</div>
        </div>
        {% endfor %}
    </div>

</section>