{% assign pd = site.data.profile %}
<section class="profile fc-wrapper">
    <div class="profile-top flex">
        <div class="profile-image fr-wrapper">

        </div>
        <div class="profile-detail-wrapper fr-wrapper">
            <div class="profile-detail-left pd-df">
                <div class="name">
                    <span class="name-kor">{{pd.name.kor}}</span> <span class="name-eng">({{pd.name.eng}})</span>
                </div>
                <div class="job">{{pd.job}}</div>
                <div class="now"><a href="https://github.com/woowabros" style="text-decoration: none; color: black">@{{pd.now}}</a></div>
            </div>
            <div class="profile-detail-right pd-df">
                <div class="flex mg-df">
                    <img class="logo" src="/assets/images/birthday.svg" alt="">
                    <span class="profile-item birthday">{{pd.birthday}}</span>
                </div>
                <div class="flex mg-df">
                    <img class="logo" src="/assets/images/mobile.svg" alt="">
                    <span class="profile-item mobile">{{pd.mobile}}</span>
                </div>
                <div class="flex mg-df">
                    <img class="logo" src="/assets/images/email.svg" alt="">
                    <a href="mailto:{{pd.email}}" class="profile-item " itemprop="email">{{pd.email}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="line flex"></div>
    <div class="fr-wrapper profile-site-wrapper">
        <div class="profile-site-item">
            <div class="flex mg-df">
                <img class="logo" src="/assets/images/github-image.svg" alt="">
                <a class=" profile-item" href="http://{{pd.github}}">{{pd.github}}</a>
            </div>
        </div>
        <div class="profile-site-item">
            <div class="fc-wrapper">
                <div class="flex mg-df">
                    <img class="logo" src="/assets/images/blog.svg" alt="">
                    <a class=" profile-item" href="http://{{pd.blog.solo}}">{{pd.blog.solo}} (개인)</a>
                </div>
                <div class="flex mg-df">
                    <img class="logo" src="/assets/images/blog.svg" alt="">
                    <a class=" profile-item" href="http://{{pd.blog.team}}">{{pd.blog.team}} (팀)</a>
                </div>
            </div>
        </div>
    </div>
</section>