{% assign sideProjectData = site.data.side-project %}
<section class="experience fc-wrapper">
    <div class="category-wrapper">
        <div class="category"><img class="logo-big" src="/assets/images/project.svg" alt="">개인 프로젝트</div>
    </div>
    <div class="fc-wrapper project-wrapper">
        {% for project in sideProjectData.projects %}
        <div class="experience-item project">
            <div class="fr-wrapper">
                <div class="subject flex">{{ project.subject }}</div>
                <div class="time flex">({{ project.time }})</div>
                <div class="reward flex">{{ project.reward }}</div>
            </div>
            <div class="title">{{ project.title }}</div>
            <div class="role">역할 : {{ project.role }}</div>
            <div class="skills">기술 스택 : {{ project.skills }}</div>
            <div class="details">{{ project.details | markdownify }}</div>
        </div>
        {% endfor %}
    </div>
</section>
