.skill-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.skill-category-container {
  display: flex;
}

.skill-category {
  display: flex;
  width: 10rem;
  padding-right: 50px;
}

.skill-items-container{
  display: flex;
}

.skill-items {
  display: flex;
  min-width: 32rem;
}

